/*навигация сайта начало*/
body{
	margin:0px;
}
@keyframes iliketomoveit {
	0%   {margin:  0px;} 
	25%  {margin-left:  15px; background: pink;} 
	75%  {margin-top:  20px;} 
	100% {margin:  0px; background: green;} 
	} 
	.light1{
		border: 1px solid black;
		animation: iliketomoveit 2.5s linear infinite;
		height: 15px;
		width: 12px;
		display: flex;
		border-radius: 100%;



	}

.navigation{
	
	display: flex;
	justify-content:space-between;
	height: 120px;
	align-items: center;
	font-family: 'RocknRoll One', sans-serif;
	font-size: 25px;
	position: fixed;
	background-color: white;
	width: 100%;
	margin-top: 0px;
	box-shadow: 20px 10px 10px black;






}
.LOGO{
	
	margin-left: 100px;
	align-self: center; 
	display: flex;

	
}
.nav-links{
	
	margin-right: 100px;


}
.nav-links > a{
	margin: 8px;
	color: black;
	text-decoration: none;
	padding: 5px;
	margin: 5px;

}
.nav-links>a:hover{

	background-color: black;
	color: white;
	border-radius: 8px;
	box-shadow: 5px 3px 4px 2px grey;

}
/*Навигация сайта КОНЕЦ*/
/*HEADER НАЧАЛО*/
.header{
	border: 1PX solid black;
	width: 100%;
	height: 600PX;
	background-size: 100%;
	background-image: url(img/2.jpg);
	border-radius: 5px;
	background-position: center;
	transition: 2s;
    
}
.header:hover{
	background-size: 130%;
	transition: 4s;



}


.header-blackout{
	background-color:rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
	justify-content: center;
	display: flex;
	align-items: center;

	
}
.header-content{
	color: white;
	text-align:center;

}
.left-btn{
	width: 200px;
	height:60px;
	border: 2px solid white;
	background-color: rgba(0,0,0,0);
	color: white;
	font-size:large;
	border: 3PX solid pink;
}
.left-btn:hover{
	background-color: rgba(221,160,221);
	font-size:large;
	width: 200px;
	height:60px;
	color: black;
	border: none;
	transition: 2s;
}
.right-btn{
	width: 200px;
	height:60px;
	font-size:large;
	background-color: rgba(221,160,221);

}
.right-btn:hover{
	width: 200px;
	height:60px;
	border: 2px solid white;
	background-color: rgba(0,0,0,0);
	color: white;
	font-size:large;
	border: none;
	transition: 2s;
	}

.div{
	font-family: monospace;

}

.about{
	text-align: center;

}
.about-top{
	margin-bottom: 50px;
	
}
.about-bot{
	display: flex;
	justify-content:space-around;


}
.about-item{
	width: 25%;
	
	}
	@keyframes myAnima
	{
		0%{
			background-color: rgba(34,139,34);
		}
		50%{
			background-color: rgba(0,255,127);
		}
		100%{
			background-color: rgba(152,251,152);
		}
	}
	.str2{
		background-color: rgb(185, 245, 226);
		animation: myAnima 5s linear infinite;

	}
	.str2-top{
		padding-top: 50px;
		text-align: center;
		padding-bottom: 50p;
	}
	.str2-bot{
		
		display: flex;
		 flex-wrap: wrap;
		 justify-content:center;



	}
	.str2-item{
		
		width: 25%;
		margin: 7PX;
		text-align: center;
		background-color: rgba(131, 212, 183);
		font-size: large;
		padding: 5px;

		}
	.str2-item:hover{
		box-shadow: 15px 0 10px 0 rgba(0,0,0,0.2);
		width: 25%;
		background-color: rgba(220,220,220);
		margin: 7px;
		transition: 0.5s;

	}


/* КОНЕЦ*/