.navigation{
	border: 5.5px solid black;
	display: flex;
	justify-content:space-between;
	height: 120px;
	align-items: center;
	font-family: 'RocknRoll One', sans-serif;





}
.LOGO{
	border: 5px solid red;
	margin-left: 100px;
	align-self: center;
}
.nav-links{
	border: 5px solid green;
	margin-right: 100px;

}
.nav-links > a{
	margin: 8px;
	color: black;
	text-decoration: none;

}